.sidebar {
  @include flex-center-column;
  align-items: flex-start;
  gap: 12px;
  display: none;

  padding-inline: 14px;

  &--visible-on-phone {
    @include flex-center-column;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100vh;
    z-index: 2;
    overflow-y: auto;

    padding-block: 20px;

    background-color: #fff;
  }

  &__item {
    @include flex-center;
    padding: 12px;
    background-color: #f1f1f1;
    width: 92%;
    
    @include onTablet {
      width: 85%;
    }

    &--active {
      @include flex-center-column;
      gap: 6px;
      align-items: flex-start;

      margin-top: 14px;

      border-left: 5px solid #a85555;
    }
  }
}

.nav-item {
  @include flex-center-column;
  align-items: flex-start;
  gap: 16px;
  width: 85%;

  padding: 12px 16px;
  border-left: 5px solid #e0e0e0;

  &__top {
    @include flex-center;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 12px;
  }

  &__title {
    font-size: 14px;
    width: 50%;
  }

  &__number {
    @include flex-center;
    width: fit-content;
    padding: 12px 16px;
    font-size: 14px;

    background-color: #e7ff7d;
  }

  &__page {
    @include flex-center;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 12px;
  }

  &__description {
    display: block;
    font-size: 14px;
    color: #5f5f5f;

    width: 50%;
  }
}