.elementWithHint {
  position: relative;
  display: flex;
  justify-content: flex-start;
  gap: 4px;

  &__hint {
    display: none;

    &--visible {
      @include flex-center;
      position: absolute;
      top: 15px;
      left: 50%;
      width: 250px;

      padding: 10px;
      border: 1px solid #eeeeee;
      border-radius: 4px;
      background-color: #fff;
    }
  }
}